<!--
  This file is responsible for rendering a single blog post.
-->

{{ template "chrome/header.html" . }}

<body class="layout-reverse sidebar-overlay">
  {{ template "chrome/sidebar.html" . }}

  <div class="wrap">

    <div class="container content">
    </br>
      <h1 class="masthead-title">{{ .Title }}</h1>
        <section id="main">
          <h5 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h5>
          {{ .Content }}
        </section>

        <div class="wrap">
          {{ template "chrome/categories.html" . }}
        </div>

    </div>

  </div>


  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  {{ template "chrome/prev_next.html" . }}
  <br />
